.footer {
    width: 100%;
    height: 90px;
    /* background: #21325e; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 80px;
    gap: 0px
  }

  .socialMedia svg {
    color: white;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .footer p {
    color: white;
  }

  .homepage-email {
    color: white
  }

  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }
